version: '3.8'

services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    ports:
      - "8000:8000"
    volumes:
      - ../models:/app/models
    environment:
      - PYTHONUNBUFFERED=1

  python:
    build:
      context: ..
      dockerfile: docker/Dockerfile.python
    volumes:
      - ../models:/app/models
      - ../datasets:/app/datasets
    environment:
      - PYTHONUNBUFFERED=1
