numpy>=1.23.0,<2.1.0
tensorflow>=2.18.0
torch>=2.0.0
torchvision>=0.15.0
opencv-python>=4.8.0
scikit-learn>=1.3.0
pandas>=2.0.0
matplotlib>=3.7.0
tf2onnx>=1.16.1
protobuf>=3.20.0

# GPU acceleration
nvidia-cuda-runtime-cu12
nvidia-cuda-nvcc-cu12
nvidia-cudnn-cu12